{% extends 'base.html' %}

{% block content %}

<!---For Experience Model--->
{% if res %}

<H1 style="color:blue;"> Personal Information </H1>
<TABLE>
    <TR>
        <TD>{{res.get_full_name}}</TD>
    </TR>
</TABLE>

{% else %}

<h1>No Data Found! Contact an Admin!</h1>
{% endif %}

<!---For Experience Model--->
{% if res %}

<H1 style="color:blue;"> Work Experience </H1>
{% for exp_new in res.get_experience %}
<TABLE>
    <TR>
        <TD>{{exp_new.title}}</TD>
        <TD>{{exp_new.location}}</TD>
        <TD>{{exp_new.start_date}}</TD>
        <TD>{{exp_new.end_date}}</TD>
        <TD>{{exp_new.description}}</TD>
    </TR>
</TABLE>

{% endfor %}
{% else %}

<h1>No Data Found! Contact an Admin!</h1>
{% endif %}

<!---For Education Model--->

{% if res %}

<H1 style="color:blue;"> Education </H1>
{% for edu_new in res.get_education %}
<TABLE>
    <TR>
        <TD>{{edu_new.institution_name}}</TD>
        <TD>{{edu_new.location}}</TD>
        <TD>{{edu_new.degree}}</TD>
        <TD>{{edu_new.major}}</TD>
        <TD>{{edu_new.gpa}}</TD>
    </TR>
</TABLE>
<!---table--->
{% endfor %}
{% else %}

<h1>No Data Found! Contact an Admin!</h1>
{% endif %}

{% endblock %}
