body {
    background-color: lightgray;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

input[type=button], input[type=submit] {
    background-color: #0000FF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
