{% extends 'base.html' %}

{% block content %}

		<div id="header">
			<p id="name"><b>Swechchha Tiwari</b></p>
			<a href="mailto:swechchhatiwari@gmail.com"><p id="email">swechchhatiwari@gmail.com</p></a>
		</div>
		<div class="left"></div>
		<div class="right">
			<h4>Objective</h4>
			<p>A position where there is a need for an individual with technical skills in the industry where my skills can be used effectively and productively.</p>
			<h4>Experience</h4>
			<p>Skilled software professional with 3 years of experience in SAP ABAP (ABAP HR) with a proven track
record of company and customer satisfaction.</p>
			<ul>
				<li>SAP certified development associate – ABAP with SAP NetWeaver 7.02</li>
        <li>Developed ALV reports, Smartforms, Interfaces and Enhancements in SAP ABAP.</li>
				<li>Interaction with functional consultants to understand functional requirement and preparing
technical specification.</li>
                <li>Skills in Debugging, Runtime Analysis, Performance Tuning, Code Inspector and Extended Program
Check for better performance. </li>
			</ul>
			<h4>Skills</h4>
			<p>Languages: ABAP/4, JAVA, ASP.NET, C#, C, C++,Python</p>
			<p>Database:SQL Server 2014/2008/2005, MySQL, PostgreSQL</p>
			<h4>Education</h4>
			<p>BE, Information Technology, RGPV University, India</p>
			<ul>

				<li>GPA: 3.8</li>
			</ul>
		</div>
		<div id="footer">
		    <h4>Address</h4>
			<p> 11 Borough rd APT 1130, Penacook | Tel: +1 (603) 417-9797</p>
		</div>


{% endblock %}
