{% extends 'base.html' %}

{% block content %}

<div id="header">
  <h3 style="color:blue;"> Projects I worked on! </h3>

<div class="left">
<div class="right">

<ul>
<h4>1. Client- ZF India</h4>
<li>Developed ALV reports and Smartforms in SAP ABAP.</li>
<li>Customized Infotypes and Tables creation and Created Function modules.</li>
<li>Enhanced standard Infotypes as per the client requirements. </li>
<li>Coding and Creation of Unit Test Plans (UTP) for the objects. </li>

<h4>2. Client- AL ELM Saudi Arabia</h4>
<li>Developed and modified Dialog programming using Screen Painter and Menu Painter
and table control and Multiple Screen dialogue.
<li>Created custom infotype of type PA with subtypes and assigned default values,
Validations.</li>
<li>Creation of Unit Test Plans (UTP) for the objects.</li>

<h4>3. Client- Amgen USA</h4>
<li>Worked on SAP to Workday Conversion in this project.</li>
<li>Created custom infotype of type PA with subtypes as per the client requirements</li>
<li>Development of Interfaces for transmission of data from SAP to Workday- created
    IDOC, LSMW, function modules. </li>
<li>Creation of Unit Test Plans, Code review check documents for the objects. </li>






</ul>
</div>
</div>


</div>
{% endblock %}
